*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #3B0086;
    text-align: center;
}
h1{
    color: #f0ce69;
    text-decoration: underline;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: aliceblue;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #EA7AF4;

}

#reset-btn{
padding: 1rem;
    font-size: 1.25rem;
    
}

#new-game{
    padding: 1rem;
    font-size: 1.25rem;
}

#msg{
    color: #F39B6D;
    font-size: 5vmin;
}
.msg-container{
    height: 80vmin;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}